#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom:70px;
}

label{
	color: #84548F;
	font-size: 30px;
	padding: 10px;
}

input{
	font-size: 25px;
	color: #84548F;
	margin:15px;
	padding:5px;
	border-radius: 5px;
	border: 1px solid #84548F;

}

button{

   font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	color:#84548F;
	border: 2px solid #84548F;
	border-radius: 20px;
	padding: 15px 25px;
	font-size: 20px;
}

button:hover{
	color:#fff;
	background-color: #84548F;
}




#result{
	position: relative;
	z-index: 2;
	background-color: rgba(161,126,170, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 150px;
	border-top:4px solid #fff;
    border-bottom:4px solid #fff;
	display:none;
}

#result .main{
	color:#fff;
	padding-bottom: 0;
}

#result #nr{
	border:3px solid rgba(161,126,170, 1);
	font-family: 'Montserrat', sans-serif;
	margin-bottom:32px;
	color:rgba(161,126,170, 1);
	background-color: rgba(255,255,255,1);
	border-radius: 20px;
	padding: 40px 100px;
	font-size: 100px;
}

#newtypebttn{
	border-color: rgba(161,126,170, 1);
	color:rgba(161,126,170, 1);
	background-color: #fff;
	padding: 15px 45px;
}

#newtypebttn:hover{
	background-color:rebeccapurple;
	border-color: rebeccapurple;
	color: #fff;
}
