ol a {
	color: #000;
}

#post-contW, #post-contR, #post-contTL, #pre-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	margin-top: 100px;
	margin-bottom: 200px;
}

#precont-txt{
	font-size: 30px;
	padding: 30px;
	text-align: center;
}

ol{
	margin: 50px;
}

li{
	font-size: 20px;
	padding: 4px;
}

#intrebare {
	width: 100vw;
	font-size: 30px;
	text-align: center;
	padding: 30px;
	color: #fff;
	background-color: purple;
	letter-spacing: 1.8px;
	margin-bottom: 60px;
}

#time{
	width: 30vw;
	padding: 25px;
	font-size: 30px;
	text-align: center;
	border: 4px solid purple;
	color: purple;
	border-radius: 15px;
	margin-bottom: 60px;
}

.optiuni-ch{
	width: 300px;
	border: 2px solid purple;
	text-align: center;
	color: purple;
	padding: 20px;
	font-size: 20px;
	margin: 20px;

}

.optiuni-ch:hover{
	background-color: purple;
	color:#fff;
}