#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom:70px;
}

#user-input{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}



label{
	color: #84548F;
	font-size: 30px;
	padding: 10px;
}

input{
	text-align: center;
	font-size: 40px;
	color: #84548F;
	margin:15px;
	padding:5px;
	border-radius: 5px;
	border: 1px solid #84548F;
	width:80px;
	height: 80px;

}

button{

   font-family: 'Montserrat';
	background-color: #fff;
	color:#84548F;
	border: 2px solid #84548F;
	border-radius: 20px;
	font-size: 20px;
	margin-top: 50px;
}

#verif-button{
	padding: 15px 25px;
}

button:hover{
	color:#fff;
	background-color: #84548F;
}

#rezultat{
	padding: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}

#resulttext{
	font-size: 100px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color:#fff;
}

#tryAgain , #newreact{
	padding: 18px 45px;
	margin:80px 20px;
	border-color: #84548F;
	color:#84548F;
}

#tryAgain:hover , #newreact:hover{
	background-color: #84548F;
	color:#fff;
}

#raspunsuri{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	font-size: 50px;
	color:#fff;
	padding: 30px;
}

#rezolvare{
	text-align: center;
}

@media screen and (max-width: 767px)
{
   
   .main{
   	margin: 0;
   	padding-bottom: 10px;
   }

   #user-input{
   	display: flex;
   	flex-direction: column;
   }

   #raspunsuri{
   	text-align: center;
   }

  #rezultat{
	padding-left: 90px;
	padding-right: 90px;
}

#resulttext{
	font-size: 50px;
}

#tryAgain , #newreact{
	width: 70vw;
	padding: 15px 25px;
	margin:15px;
}

#raspunsuri{
	font-size: 25px;
	padding: 10px;
}

}