
    table{
      flex-wrap: wrap;
    }

    td{
      margin-bottom: 4px;
    }


    .Z{
      padding: 8px;
      padding-left: 18px;
      color:#fff;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .atom{
      height: 80px;
      background-color: #fff;
      border:1px solid gray;
    }

    .atom-symbol{
      font-size: 30px;
      padding: 5px;
    }

    .atom, .atom-name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .atom-name{
      width:72px;
      padding: 14px;
      color:#fff;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      letter-spacing: 0.6px;
    }

   
   @media screen and (max-width: 425px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      text-align: center;
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 18px;
      font-size: 4.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 10px;
     }

     table .fa{
      font-size: 7.5px;
     }


      .atom{
      width: 16px;
      border: 0.1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
     }


     .atom-symbol{

      font-size: 4.5px;
     }

     .atom-mass{
      padding-top: 2px;
      font-size: 3px;
     }

     .atom-name{
      width: 18px;
      font-size: 2.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 10px;
     }



   }
  









