    #content{
      position: relative;
    }

    table{
      flex-wrap: wrap;
    }

    td{
      margin-bottom: 4px;
    }


    .Z{
      padding: 8px;
      padding-left: 18px;
      color:#fff;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .atom{
      height: 80px;
      background-color: #fff;
      border:1px solid gray;
    }

    .atom-symbol{
      font-size: 30px;
      padding: 5px;
    }

    .atom, .atom-name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .atom-name{
      width:72px;
      padding: 14px;
      color:#fff;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      letter-spacing: 0.6px;
    }


  #desc-element{
    
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    padding: 4vw;
    background-color: tomato;
    border-radius: 40px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 150px;
    position: absolute;
    top:15vh;
    left: calc(50% - 28vw);
    z-index: 2; 
  }

    

    @media screen and (max-width: 1870px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 50px;
      font-size: 12px;
      display: flex;
      padding-left: 10px;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 24px;
     }

     table .fa{
      font-size: 18px;
     }


      .atom{
      width: 58px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
     }


     .atom-symbol{

      font-size: 18px;
     }

     .atom-mass{
      padding-top: 4px;
      font-size: 10px;
     }

     .atom-name{
      width: 60px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 24px;
     }



   }

  @media screen and (max-width: 1130px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 30px;
      font-size: 8px;
      display: flex;
      padding-left: 10px;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 24px;
     }

     table .fa{
      font-size: 15px;
     }


      .atom{
      width: 38px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
     }


     .atom-symbol{

      font-size: 15px;
     }

     .atom-mass{
      padding-top: 10px;
      font-size: 8px;
     }

     .atom-name{
      width: 40px;
      font-size: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 24px;
     }



   }

  
  @media screen and (max-width: 768px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      text-align: center;
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 32px;
      font-size: 3.8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 20px;
     }

     table .fa{
      font-size: 14px;
     }


      .atom{
      width: 30px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
     }


     .atom-symbol{

      font-size: 8px;
     }

     .atom-mass{
      padding-top: 4px;
      font-size: 6px;
     }

     .atom-name{
      width: 32px;
      font-size: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 20px;
     }



   }

      @media screen and (max-width: 630px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      text-align: center;
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 20px;
      font-size: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 10px;
     }

     table .fa{
      font-size: 7.5px;
     }


      .atom{
      width: 18px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
     }


     .atom-symbol{

      font-size: 6px;
     }

     .atom-mass{
      padding-top: 2px;
      font-size: 3.3px;
     }

     .atom-name{
      width: 20px;
      font-size: 2.7px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 10px;
     }



   }


   @media screen and (max-width: 425px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      text-align: center;
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 16px;
      font-size: 3.8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 10px;
     }

     table .fa{
      font-size: 7.5px;
     }


      .atom{
      width: 14px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
     }


     .atom-symbol{

      font-size: 5.5px;
     }

     .atom-mass{
      padding-top: 2px;
      font-size: 3px;
     }

     .atom-name{
      width: 16px;
      font-size: 2.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 10px;
     }



   }

    @media screen and (max-width: 350px){

       table * {
       word-break: break-all;

       }


     .atom-name, .atom-symbol, .atom-mass, .Z, table .fa{
      text-align: center;
      padding: 0;
      letter-spacing: 0;
     }

     .Z{
      width: 8px;
      font-size: 2.4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      height: 8px;
     }

     table .fa{
      font-size: 4.8px;
     }


      .atom{
      width: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 18px;
      border: none;
     }


     .atom-symbol{

      font-size: 3.7px;
     }

     .atom-mass{
      padding-top: 1.9px;
      font-size: 1.8px;
     }

     .atom-name{
      width: 8px;
      font-size: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      height: 8px;
     }
    


   }

   @media screen and (max-width: 900px){
      
      #desc-element{


    width: 70vw;
    padding: 6vw;
    border-radius: 30px;
    font-size: 15px;
    top:15vh;
    left: calc(50% - 41vw);

    }
    }

    @media screen and (max-width: 500px){
      
      #desc-element{


    width: 80vw;
    padding: 6vw;
    border-radius: 30px;
    font-size: 15px;
    top:15vh;
    left: calc(50% - 46vw);

    }
    }





