#content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom:70px;
}

label{
	color: #84548F;
	font-size: 30px;
	padding: 10px;
}

input{
	font-size: 25px;
	color: #84548F;
	margin:15px;
	padding:5px;
	border-radius: 5px;
	border: 1px solid #84548F;

}

button{

   font-family: 'Montserrat';
	background-color: #fff;
	color:#84548F;
	border: 2px solid #84548F;
	border-radius: 20px;
	padding: 15px 25px;
	font-size: 20px;
}

button:hover{
	color:#fff;
	background-color: #84548F;
}



#question{
	font-size: 30px;
	color:#84548F;
	font-weight: 500;
	padding: 50px;
	padding-top: 0;

}

#answers{
	width: 95vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}

.ans{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 230px;
	width: 230px;
	margin-bottom: 20px;
}


#bttns{
	margin-top: 50px;
	width:95vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.bn{
	flex-basis: 90%;
}

#final{
	display: none;
}


#scor{
	margin: 120px;
	display: none;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

#punctaj{
	display: flex;
	justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color:#84548F;
    color: #fff;
    border-radius: 30px;
    padding: 70px;
    margin-bottom: 80px;



}

@media screen and (max-width: 767px)
{
   
#question{
	text-align: center;
	padding: 20px;
}

button:hover{
	color:#84548F;
	background-color: white;
	border:4px solid purple;
}

#punctaj{
	width: 50vw;
}

#scor{

   margin-right: 1.5em;
   margin-left: 1.5em;
}

}